:root {
  --secondary: #fdad32;
  --primary: #808080;
  --transparency-zero: #0000;
  --transparency: #000000bf;
  --black: #222;
  --white: #fff;
  --gray: #808080;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1150px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 13px;
}
h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.7rem;
  font-weight: 400;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 2rem;
}
p,
a {
  font-size: 1rem;
  color: var(--primary);
}

body,
input,
button,
a {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
a:hover {
  color: var(--black);
}

.container {
  position: relative;
}
.background {
  position: fixed !important;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
button {
  cursor: pointer;
}
@media (min-width: 765px) {
  html {
    font-size: 15px;
  }
  .container {
    margin-left: 8vw;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}
